{% extends 'base.html' %}

{% block title %}
    Problem Index
{% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title">Contest Finished</h1>
            <h4 class="card-text">The contest is over, but you can still submit solutions. The scoreboard is frozen with the results from the contest.</h4>

            <h4 class="card-text">On <strong>Thursday, March 21</strong>, we will be meeting to discuss solutions and strategies.</h4>
            <h4>Be sure to join our Discord server and Niner Engage for updates and information.</h4>

            <span>
                <a href="https://discord.gg/v7vVN6" class="btn btn-success
btn-lg">Discord</a>
                <a href="https://ninerengage.uncc.edu/organization/association-for-computing-machinery" class="btn btn-success
btn-lg">Niner Engage</a>
            </span>
        </div>
    </div>

    <div class="my-5"></div>

    <h1 class="text-center">Problem Index</h1>

    <div class="list-group mb-2">
        {% for problem in problem_list %}
            <a href="{{ problem.get_absolute_url }}" class="list-group-item list-group-item-action">
                {{ problem.title }}

                <span class="float-right">
                    {% for part in problem.part_set.all|dictsort:"points" %}
                        <span class="badge badge-primary">
                            {{ part.title }}: {{ part.points }}
                        </span>
                    {% endfor %}

                </span>
            </a>
        {% endfor %}
    </div>

    {% if perms.jam.add_problem %}
        <a href="{% url 'jam:problem-create' %}" class="btn btn-outline-success mb-4">Add Problem</a>
    {% endif %}
{% endblock %}