{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    New Part
{% endblock %}

{% block content %}
    <h1>Create Part</h1>

    <form action="#" method="post">
        {% csrf_token %}

        <div class="form-row">
            <div class="col">
                {% bootstrap_field form.title %}
            </div>
            <div class="col-3">
                {% bootstrap_field form.slug %}
            </div>
            <div class="col-3">
                {% bootstrap_field form.points %}
            </div>
        </div>

        {% bootstrap_field form.input %}
        {% bootstrap_field form.solution %}

        <button type="submit" class="btn btn-success">Submit</button>
        <a href="{% url 'jam:problem' problem.slug %}" class="btn btn-danger">Cancel</a>
    </form>
{% endblock %}