{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    Submit
{% endblock %}

{% block content %}
    <h1>Submit</h1>
    <h2>{{ problem.title }} {{ part.title }}</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-2">
            <input type="file" name="{{ form.submission.name }}"
                   id="{{ form.submission.auto_id }}" required>
            <label for="{{ form.submission.auto_id }}">{{ form.submission.label }}</label>
        </div>

        {#        <div class="custom-file mb-2">#}
        {#            <input type="file" name="{{ form.submission.name }}" class="custom-file-input"#}
        {#                   id="{{ form.submission.auto_id }}" required>#}
        {#            <label class="custom-file-label" for="{{ form.submission.auto_id }}">{{ form.submission.label }}</label>#}
        {#        </div>#}

        {% buttons %}
            <button type="submit" class="btn btn-success">Submit</button>
        {% endbuttons %}
    </form>

    <a href="{% url 'jam:part-submit' problem.slug part.pk %}" class="btn btn-secondary">Paste Text</a>
{% endblock %}