{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    New Problem
{% endblock %}

{% block content %}

    <form action="#" method="post">
        {% csrf_token %}

        <div class="form-row">
            <div class="col">
                {% bootstrap_field form.title %}
            </div>
            <div class="col-4">
                {% bootstrap_field form.slug %}
            </div>
            <div class="col-2">
                {% bootstrap_field form.difficulty %}
            </div>
        </div>

        {% bootstrap_field form.description %}
        {% bootstrap_field form.solution %}

        {% buttons %}
            <button type="submit" class="btn btn-success">Submit</button>
        {% endbuttons %}
    </form>

{% endblock %}