{% extends 'base.html' %}

{% block title %}
    {{ problem.title }}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ problem.title }}</h2>
            <p class="card-text">{{ problem.description }}
                {% if perms.jam.delete_problem %}
                    <a href="{% url 'jam:problem-delete' problem.slug %}" class="btn btn-danger float-right">Delete</a>
                {% endif %}
            </p>
        </div>
    </div>

    <a href="{% url 'jam:problem-submit' problem.slug %}" class="btn btn-outline-success">Submit</a>

{% endblock %}