{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3">Problems</h1>
    <ul class="list-group">
        {% for problem in problem_list %}
            <a href="{% url 'jam:problem' problem.slug %}"
               class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{ problem.title }}
                <span class="badge badge-primary badge-pill">{{ problem.slug }}</span>
            </a>
        {% endfor %}
    </ul>
    <a href="{% url 'jam:problem-create' %}" class="my-3 btn btn-outline-primary">New Problem</a>
{% endblock %}