{% extends 'base.html' %}

{% load markdown_filter %}

{% block title %}
    {{ problem.title }}
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ problem.title }}</h1>
                    <div class="card-text">
                        {{ problem.description |markdown_filter |safe }}
                    </div>
                </div>
                {% if perms.jam.update_problem and perms.jam.create_part or perms.jam.update_problem or perms.jam.delete_problem %}
                    <div class="card-footer">
                <span class="float-right">
                    {% if perms.jam.update_problem and perms.jam.create_part %}
                        <a href="{% url 'jam:part-create' problem.slug %}" class="btn btn-secondary">New Part</a>
                    {% endif %}
                    {% if perms.jam.update_problem %}
                        <a href="{% url 'jam:problem-update' problem.slug %}" class="btn btn-secondary">Edit</a>
                    {% endif %}
                    {% if perms.jam.delete_problem %}
                        <a href="{% url 'jam:problem-delete' problem.slug %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </span>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            {% for part in problem.part_set.all|dictsort:"points" %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h4 class="float-left">{{ part.title }} ({{ part.points }} pts)</h4>
                        <div class="float-right">
                            {% if part.input %}
                                <a href="{% url 'jam:part-download' part.pk problem.slug part.slug %}"
                                   class="btn btn-primary" download>
                                    Input
                                </a>
                            {% endif %}

                            <a href="{% url 'jam:part-submit' problem.slug part.pk %}" class="btn btn-success">
                                Submit
                            </a>
                            {% if perms.jam.delete_part or perms.jam.update_part %}
                                {% if perms.jam.update_part %}
                                    <a href="{% url 'jam:part-update' problem.slug part.pk %}"
                                       class="btn btn-secondary">
                                        Edit
                                    </a>
                                {% endif %}

                                {% if perms.jam.delete_part %}
                                    <a href="{% url 'jam:part-delete' problem.slug part.pk %}" class="btn btn-danger">
                                        Delete
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}