{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    Update Problem
{% endblock %}

{% block content %}
    <h1>Update Problem {{ problem.title }}</h1>

    <form action="#" method="post">
        {% csrf_token %}

        <div class="form-row">
            <div class="col">
                {% bootstrap_field form.title %}
            </div>
        </div>

        {% bootstrap_field form.description %}

        {% buttons %}
            <button type="submit" class="btn btn-success">Update</button>
            <a href="{% url 'jam:problem' problem.slug %}"
               class="btn btn-danger">Cancel</a>
        {% endbuttons %}
    </form>
{% endblock %}