{% extends 'base.html' %}

{% block title %}
    Problm Index
{% endblock %}

{% block head %}
    {# Automatically refresh every few seconds #}
    <meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
    <h1 class="text-center">Scoreboard</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        {% for u in user_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ u.username }}</td>
                <td>{{ u.score.points }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}