{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    Submission List
{% endblock %}

{% block content %}
    <h1 class="text-center">Submission List</h1>

    <style>
        td, th {
            text-align: center;
        }
    </style>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Problem</th>
            <th>Part</th>
            <th>Points ({{ user.score.points }})</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for submission in submission_list %}
            <tr>
                <td scope="row">
                    <a href="{{ submission.part.problem.get_absolute_url }}"
                       class="btn btn-outline-dark">
                        {{ submission.part.problem.title }}
                    </a>
                </td>
                <td>
                    {{ submission.part.title }}
                </td>
                <td>
                    {{ submission.part.points }}
                </td>
                <td>
                    <a href="{{ submission.get_absolute_url }}"
                       class="btn  {% if submission.correct %}btn-outline-success{% else %}btn-outline-danger{% endif %}">
                        {% if submission.correct %}
                            <i class="fa fa-check fa-fw" aria-hidden="true"></i> Correct
                        {% else %}
                            <i class="fa fa-times fa-fw" aria-hidden="true"></i> Incorrect
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}