{% extends 'base.html' %}

{% block title %}
    Problem Index
{% endblock %}

{% block content %}
    <h1 class="text-center">Problem Index</h1>

    <div class="list-group mb-2">
        {% for problem in problem_list %}
            <a href="{{ problem.get_absolute_url }}"
               class="list-group-item list-group-item-action">
                {{ problem.title }}
            </a>
        {% endfor %}
    </div>

    {% if perms.jam.add_problem %}
        <a href="{% url 'contest:problem-create' %}" class="btn btn-outline-success mb-4">Add
            Problem</a>
    {% endif %}
{% endblock %}