{% extends 'base.html' %}

{% load scoreboard %}

{% block title %}
    Scoreboard
{% endblock %}

{% block head %}
    {# Automatically refresh every few seconds #}
    <meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
    <h1 class="text-center">Scoreboard</h1>
    <hr>

    {% for contest in contests %}
        <h2 class="text-center">{{ contest.title }}</h2>
        <h5 class="text-center">{{ contest.start }} to {{ contest.end }}</h5>

    <table class="table text-center table-bordered" style="width: auto !important;
    margin: 0 auto;">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Score</th>
            <th scope="col">Time</th>

            {% for problem in contest.problems.all %}
                <th scope="col">
                    <a href="{% url 'contest:problem' problem.slug %}"
                       class="text-light">
                        {{ problem.title }}</a>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
                <th class="align-middle" scope="row">{{ forloop.counter }}</th>
                <td class="align-middle">{{ u.username }}</td>
                <td class="align-middle">
                    {{ u.score.points }}
                </td>
                <td class="align-middle">
                    {{ u.score.minutes }}
                </td>

                {% for problem in contest.problems.all %}
                    {% if u.score|is_solved:problem %}
                        <td class="align-middle table-success">
                            <i class="fa fa-check text-success"></i><br>
                            {{ u.score|attempts:problem }}
                            ({{ u.score|time:problem }})
                        </td>
                    {% elif u.score|attempts:problem %}
                        <td class="align-middle table-danger">
                            <i class="fa fa-times text-danger"></i><br>
                            {{ u.score|attempts:problem }}
                            ({{ u.score|time:problem }})
                        </td>
                    {% else %}
                        <td class="align-middle">
                            <i class="fa fa-minus text-muted"></i>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
{% endblock %}