{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    Submission
{% endblock %}

{% block content %}
    <h1 class="text-center">Submission Details</h1>

    <h1>
        {{ submission.problem.title }}
        {% if submission.correct %}
            <span class="float-right badge badge-success">
                <i class="fa fa-check fa-fw" aria-hidden="true"></i> Correct
            </span>
        {% else %}
            <span class="float-right badge badge-danger">
                <i class="fa fa-times fa-fw" aria-hidden="true"></i> Incorrect
            </span>
        {% endif %}
    </h1>

    <hr>

    <pre><code>{{ submission.submission }}</code></pre>

    <hr>

    <a href="{% url 'contest:submissions' %}" class="btn btn-outline-secondary">Other
        Submissions</a>

    <a href="{{ submission.problem.get_absolute_url }}"
       class="btn btn-outline-secondary">Back
        to {{ submission.problem.title }}</a>

    <a href="{% url 'contest:problem-submit' submission.problem.slug %}"
       class="btn btn-outline-success">Submit Again</a>
{% endblock %}