{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACM UNCC | {% block title %}Contest{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pygments-default.css' %}">

    {% block head %}
    {% endblock %}

    {% include 'scripts.html' %}
</head>
<body>

{% include 'navigation.html' %}

<div id="wrapper" class="container">
    {% block content %}
        <h1>base.html</h1>
    {% endblock %}
</div>

</body>
</html>
